@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */

.gray {
  background-color: #ECF1F2;
  width: 500px;
  height: 500px;
  position: relative;
  line-height: 100px;
  font-weight: bold;
  font-size: 30px;
  margin: auto;
}


.cream {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
}

.cobalt {
  background-color: #7084de;
  top: 120px;
  left: 280px;
}

.ocean {
  background-color: #d0ecea;
  top: 200px;
  left: 360px;
  z-index: 1;
}

.brown {
  background-color: #8d7a5e;
  top: 280px;
  left: 280px;
  z-index: 2;
}

.blue {
  background-color: #9fd6d2;
  top: 360px;
  left: 200px;
  z-index: 3;
}


.milk {
  background-color: #fffee4;
  top: 280px;
  left: 120px;
  z-index: 4;
}

.beige {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 5;
}

.pink {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 6;
}

.indigo {
  background-color: #2b69a3;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 10px;
  left: 10px;
  line-height: 100px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}


.pink::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  left: 80px;
  top: 0px;
}

.boxs {
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: center;
}

