@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
.tablebox {
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

.tablebox th {
  font-size: 18px;
  color: #ffffff;
  line-height: 26px;
  background-color: #2244aa;
}

.tablebox td {
  font-size: 16px;
  line-height: 22px;
  background-color: #ecf1f2;
}

th, td {
  padding: 10px 0px;
  border: solid #dedede 1px;
}


tr:nth-child(2n+1) td:nth-child(n+2) {
  background:#ffffff;
}

tbody:last-child {
  border-top: 2px dashed #000 ;
}


