@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */
table {
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

table th {
  font-size: 18px;
  color: #ffffff;
  line-height: 26px;
  background-color: #2244aa;
}

table td {
  font-size: 16px;
  line-height: 22px;
  background-color: #ecf1f2;
}

th, td {
padding: 10px 0px;
border: solid #dedede 1px;
}

td:nth-child(1) {
background:#2244aa;
color: #ffffff;
font-size: 18px;
line-height: 26px;
}

tr:nth-child(2n) td:nth-child(n+2) {
background:#ffffff;
}

tr:last-child {
border-top: dashed #000 2px;
}

